<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

        <div class="row">
     <div  class="col-sm-12">
         <div class="card border-0">
          <div class="card-body">
           
            <img src="/image/<%= books.image %>"  class="rounded-circle"  style="width: 100px; margin-left: 100px;" >
            <span style="font-size: xx-large;"><%= books.bname %></span>:<br>

            <a class="btn btn-secondary" href="" style="margin-left: 100px; height: 30px;"><%= books.author %></a><br>
         </div>
        </div>
    </div>
</div>
        
    
</body>
</html>